node_modules
vendor
.git
.gitignore
.env
.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.DS_Store
.idea
.vscode
*.log
npm-debug.log
yarn-error.log
.docker
.editorconfig
README.md
CHANGELOG.md
LICENSE
